<html xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

<style type="text/css">

<!--
.style1 {
	text-align: center;
}
.style4 {
	border-style: solid;
	background-color: #C0C0C0;
}
.style5 {
	color: #000000;
}
.style7 {
	border: 3px solid #000099;
}
.style21 {
	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
}
.style22 {
	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
	font-size: small;
}
.style27 {
	text-align: center;
	font-size: xx-small;
}
.style28 {
	text-align: center;
	font-size: x-small;
}
.style30 {
	border-width: 0px;
}
.style31 {
	font-size: x-small;
}
.style32 {
	text-decoration: none;
	color: #FF0000;
}
.style33 {
	color: #FF0000;
	font-size: x-small;
}
.style34 {
	color: #000080;
}
.style35 {
	font-size: xx-small;
}
.style36 {
	text-align: left;
	font-size: medium;
	background-color: #FFFFFF;
}
.rg_i{border:0;-ms-interpolation-mode:bicubic;display:block}
.style46 {
	color: #000099;
}
.style47 {
	font-size: medium;
}
.style48 {
	margin-left: 40px;
}
.style49 {
	text-align: center;
	font-size: medium;
	background-color: #FFFFFF;
}
-->
</style>


		
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Pittstown New York Website</title>
<meta name="keywords" content="Pittstown, New York, Historical Society, ">
<meta name="description" content="Pittstown, New York webpage used by residents for information and for visitors as a virtural tour of our town.">
<script type="text/javascript">
<!--
function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=/a[i]; }
}

function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=/elm.src; elm.src=/args[n+1]; } }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body onload="FP_preloadImgs(/*url*/'Buttons/button1C.jpg',/*url*/'Buttons/button1D.jpg',/*url*/'Buttons/button1F.jpg',/*url*/'Buttons/button20.jpg',/*url*/'Buttons/button28.jpg',/*url*/'Buttons/button29.jpg',/*url*/'Buttons/button2B.jpg',/*url*/'Buttons/button2C.jpg',/*url*/'Buttons/button2E.jpg',/*url*/'Buttons/button2F.jpg',/*url*/'Buttons/button31.jpg',/*url*/'Buttons/button32.jpg',/*url*/'Buttons/button1A.jpg',/*url*/'Buttons/button1B1.jpg',/*url*/'Buttons/button6.jpg',/*url*/'Buttons/button7.jpg',/*url*/'Buttons/button15.jpg',/*url*/'Buttons/button16.jpg',/*url*/'Buttons/button44.jpg',/*url*/'Buttons/button45.jpg')" style="background-color: #000000">
 

<table id="table1" cellspacing="0" cellpadding="5" width="800" align="center" class="style7">
	<tr>
		<td width="26%" rowspan="4" align="center" valign="top" bordercolor="#FFFFFF" class="style4">&nbsp;<p>
		<a rel="nofollow" href="http://www.erh.noaa.gov/forecast/MapClick.php?CityName=Johnsonville&amp;state=NY&amp;site=ALY">
		<img alt="" src="/images/weather.jpg" width="119" height="106" class="style30"></a><br>
		<span class="style31">
		<a rel="nofollow" href="http://www.erh.noaa.gov/forecast/MapClick.php?CityName=Johnsonville&amp;state=NY&amp;site=ALY" class="style32">
		<em>Pittstown Weather</em></a></span></p>
		<table style="width: 84%; height: 353px;" cellspacing="10" cellpadding="0">
			<tr>
				<td class="style1" style="width: 159px">
				<a href="/newgov.htm">
				<img style="border: 0" id="img1" src="/Buttons/button1B.jpg" height="27" width="135" alt="Government" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Government" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'Buttons/button1C.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'Buttons/button1B.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'Buttons/button1D.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'Buttons/button1C.jpg')"></a></td>
			</tr>
			<tr>
				<td class="style28" style="width: 159px">
				<a href="/legalnotices.htm">
				<img style="border: 0" id="img2" src="/Buttons/button1E.jpg" height="27" width="135" alt="Public Notices" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Public Notices" onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'Buttons/button1F.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'Buttons/button1E.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'Buttons/button20.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'Buttons/button1F.jpg')"></a></td>
			</tr>
			<tr>
				<td class="style27" style="width: 159px"><a href="/minutes.htm">
				<img style="border: 0" id="img3" src="/Buttons/button21.jpg" height="27" width="135" alt="Meeting Minutes" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8; fp-img-hover: 0; fp-img-press: 0; fp-preload: 0" fp-title="Meeting Minutes"></a></td>
			</tr>
			<tr>
				<td class="style27" style="width: 159px">
				<a href="/Calendar13/Cal13.htm">
				<img style="border: 0" id="img4" src="/Buttons/button27.jpg" height="27" width="135" alt="Calendar" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Calendar" onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'Buttons/button28.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'Buttons/button27.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'Buttons/button29.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'Buttons/button28.jpg')"></a></td>
			</tr>
			<tr>
				<td class="style1" style="width: 159px"><a href="/forms.htm">
				<img style="border: 0" id="img5" src="/Buttons/button2A.jpg" height="27" width="135" alt="Forms" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Forms" onmouseover="FP_swapImg(1,0,/*id*/'img5',/*url*/'Buttons/button2B.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img5',/*url*/'Buttons/button2A.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img5',/*url*/'Buttons/button2C.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img5',/*url*/'Buttons/button2B.jpg')"></a></td>
			</tr>
			<tr>
				<td class="style1" style="width: 159px"><a href="/links.htm">
				<img style="border: 0" id="img6" src="/Buttons/button2D.jpg" height="27" width="135" alt="Links" fp-style="fp-btn: Glass Rectangle 3" fp-title="Links" onmouseover="FP_swapImg(1,0,/*id*/'img6',/*url*/'Buttons/button2E.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img6',/*url*/'Buttons/button2D.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img6',/*url*/'Buttons/button2F.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img6',/*url*/'Buttons/button2E.jpg')"></a></td>
			</tr>
			<tr>
				<td class="style1" style="width: 159px"><a href="/Photo%20Album.htm">
				<img style="border: 0" id="img7" src="/Buttons/button30.jpg" height="27" width="135" alt="Photo Album" fp-style="fp-btn: Glass Rectangle 3" fp-title="Photo Album" onmouseover="FP_swapImg(1,0,/*id*/'img7',/*url*/'Buttons/button31.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img7',/*url*/'Buttons/button30.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img7',/*url*/'Buttons/button32.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img7',/*url*/'Buttons/button31.jpg')"></a></td>
			</tr>
			<tr>
				<td class="style1" style="width: 159px">
				<a href="/historical_society/pittstown_historical_society.htm">
				<img style="border: 0" id="img8" src="/Buttons/button19.jpg" height="27" width="135" alt="Historical Society" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Historical Society" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'Buttons/button1A.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'Buttons/button19.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'Buttons/button1B1.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'Buttons/button1A.jpg')"></a><br>
				</td>
			</tr>
		</table>
		<a href="/BBoard.htm">
		<img style="border: 0" id="img11" src="/Buttons/button17.jpg" height="27" width="135" alt="Bulletin Board" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Bulletin Board" onmouseover="FP_swapImg(1,0,/*id*/'img11',/*url*/'Buttons/button15.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img11',/*url*/'Buttons/button17.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img11',/*url*/'Buttons/button16.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img11',/*url*/'Buttons/button15.jpg')"></a><br>
		<span class="style35"><br>
		</span>
		<a rel="nofollow" href="http://www.rensco.com/departments_taxservices_assessmentrolls.asp">
		<img style="border: 0" id="img12" src="/Buttons/button46.jpg" height="27" width="135" alt="Tax Assessment Rolls" fp-style="fp-btn: Glass Rectangle 3; fp-font-size: 8" fp-title="Tax Assessment Rolls" onmouseover="FP_swapImg(1,0,/*id*/'img12',/*url*/'Buttons/button44.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img12',/*url*/'Buttons/button46.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img12',/*url*/'Buttons/button45.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img12',/*url*/'Buttons/button44.jpg')"></a><p align="center">
		<font face="Arial Narrow" class="style34">
		<font size="2">Town Hall<br>
		123 Tomhannock Road<br>
		Valley Falls, New York 12185<br>
		</font>
		<br>
		<font size="2">518-753-4222<br>
		FAX 518-753-7706</font></font></p>
		<p align="center">
		<a rel="nofollow" href="http://www.google.com/maps?q=Pittstown,+NY&amp;sa=X&amp;oi=map&amp;ct=title">
		<img border="0" src="/images/mapdata.jpg" width="194" height="156"></a><br>
		<font color="#FFCC00">
		<a title="Click here for map" rel="nofollow" href="http://www.google.com/maps?q=Pittstown,+NY&amp;sa=X&amp;oi=map&amp;ct=title">
		<span class="style33"><em>Map of Pittstown</em></span></a></font></p>
		<p>
		<br>
		</p>
		<p>
		&nbsp;</p>
		<p>
		&nbsp;</p>
		<p align="center">
		<font color="#FFFFFF" size="2"><span class="style5">Site created by<br>
		<a href="mailto:tmcgny@gmail.com?subject=Pittstown Web Page">TmcG web design</a></span></font></td>
		<td bgcolor="#336699" style="width: 96%; height: 77px; color: #FFCC00; font-weight: 700;" class="style1">
		<table style="width: 100%">
			<tr>
				<td class="style1">
		<img border="0" src="/images/american_flag_376.jpg" width="376" height="45"></td>
			</tr>
			<tr>
				<td class="style1"><img border="0" src="/images/title2.jpg" width="500" height="73"><br>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td bgcolor="#336699" valign="top" style="width: 96%; height: 300px;">
		<p align="center" class="style21">&nbsp;<font size="5">Welcome to our town</font></p>
		<p align="justify" class="style22">Pittstown is 
			located in northern Rensselaer County in upstate New York.&nbsp; The 
			purpose of this website is to provide information to our residents 
			as well as giving visitors a virtual tour of our town.</p>
		<p align="justify"><span class="style22">Please enjoy your 
			visit to our site.&nbsp;</span>&nbsp;&nbsp;</p>
		<table style="width: 80%" align="center">
			<tr>
				<td class="style49" style="height: 100px">
				<img alt="" src="/graphics/announcements.jpg" width="237" height="65"></td>
			</tr>
			<tr>
				<td class="style36" style="height: 300px" valign="top">
				<p class="style48"><br>
				<span class="style47"><span class="style46">
				<br>
				</span><a class="style46" href="/NewSaltShed.htm">Photos of new 
				Salt Shed &amp; Town Garage</a></span><span class="style46"><br>
				</span></p>
				</td>
			</tr>
			</table>
		<p align="center">
		<img alt="" src="/Military/MiltLinkObj.gif" width="800" height="80"><p align="center">&nbsp;<a href="/militarypage.htm"><img style="border: 0" id="img10" src="/Buttons/button11.jpg" height="31" width="155" alt="Click to view List" fp-style="fp-btn: Metal Rectangle 4; fp-img-hover: 0; fp-img-press: 0; fp-preload: 0" fp-title="Click to view List"></a><p align="center">
		<img border="0" src="/images/american_flag_376.jpg" width="376" height="45"><p align="justify">&nbsp;</p>
		</td>
	</tr>
	<tr>
		<td bgcolor="#336699" height="87" style="border-bottom-style:solid; border-bottom-width:1px; width: 96%;" valign="top" class="style1">
		<br>
		</td>
	</tr>
	</table>

</body>

</html>
