<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="ProgId" content="Excel.Sheet">
<meta name="Generator" content="Microsoft Excel 14">
<link rel="File-List" href="/Book1_files/filelist.xml">
<style id="Book1_28112_Styles">
<!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:"\,";}
.font528112
	{color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font628112
	{color:navy;
	font-size:13.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.xl1528112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6328112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6428112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl6528112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl6628112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:13.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl6728112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl6828112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl6928112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl7028112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl7128112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl7228112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.xl7328112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7428112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7528112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7628112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:nowrap;}
.xl7728112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl7828112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl7928112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:13.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8028112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:13.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8128112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8228112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8328112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8428112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8528112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8628112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8728112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8828112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl8928112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl9028112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#8DB4E2;
	mso-pattern:black none;
	white-space:normal;}
.xl9128112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#B8CCE4;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9228112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#B8CCE4;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9328112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#B8CCE4;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9428112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	background:#B8CCE4;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9528112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:#B8CCE4;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9628112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:navy;
	font-size:14.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	background:#B8CCE4;
	mso-pattern:black none;
	white-space:nowrap;}
.xl9728112
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	background:#DCE6F1;
	mso-pattern:black none;
	white-space:normal;}
.style1 {
	border-width: 0px;
}
-->
</style>
</head>

<body style="background-color: #000000">
 
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--The following information was generated by Microsoft Excel's Publish as Web
Page wizard.-->
<!--If the same item is republished from Excel, all information between the DIV
tags will be replaced.-->
<!----------------------------->
<!--START OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD -->
<!----------------------------->

<div id="Book1_28112" align="center" x:publishsource="Excel">

<table border="0" cellpadding="0" cellspacing="0" width="713" style="border-collapse:
 collapse;table-layout:fixed;width:534pt">
 <col class="xl1528112" width="247" style="mso-width-source:userset;mso-width-alt:
 8789;width:185pt">
 <col width="163" style="mso-width-source:userset;mso-width-alt:5802;width:122pt">
 <col width="141" style="mso-width-source:userset;mso-width-alt:5006;width:106pt">
 <col width="58" style="mso-width-source:userset;mso-width-alt:2048;width:43pt">
 <col class="xl6328112" width="104" style="mso-width-source:userset;mso-width-alt:
 3697;width:78pt">
 <tr height="24" style="mso-height-source:userset;height:18.0pt">
  <td colspan="5" height="24" class="xl9128112" width="713" style="border-right:1.0pt solid black;
  height:18.0pt;width:534pt"><a href="/index.htm">
	<img alt="" src="/graphics/return.gif" width="75" height="25" style="float: left" class="style1"></a></td>
 </tr>
 <tr style="mso-height-source:userset;">
  <td colspan="5" class="xl9128112" width="713" style="border-right:1.0pt solid black;
  height:16pt; width:534pt">Town of Pittstown</td>
 </tr>
 <tr height="24" style="mso-height-source:userset;height:18.0pt">
  <td colspan="5" height="24" class="xl9428112" style="border-right:1.0pt solid black;
  height:18.0pt">GOVERNMENT OFFICE HOURS AND PHONE NUMBERS</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7728112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">SUPERVISOR</td>
  <td class="xl6628112" width="163" style="width:122pt">Edwin King</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl8028112" width="104" style="width:78pt">663-8205</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl8028112" width="104" style="width:78pt">753-4222</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">TOWN CLERK</td>
  <td class="xl6628112" width="163" style="width:122pt">Michelle A. Hoag</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl8028112" width="104" style="width:78pt">753-4222</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6728112" width="163" style="width:122pt">OFFICE HOURS<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6428112" width="163" style="width:122pt">Monday - Thursday<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6428112" width="141" style="width:106pt">8AM - 4PM</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6428112" width="163" style="width:122pt">Wednesday Evening<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6428112" width="141" style="width:106pt">6:30PM - 8:30PM</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6428112" width="163" style="width:122pt">Friday<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6428112" width="141" style="width:106pt">8AM - 2PM</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">COUNCIL MEMBERS</td>
  <td class="xl6628112" width="163" style="width:122pt">John Colarusso</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl7828112" width="104" style="width:78pt">753-6645</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6628112" width="163" style="width:122pt">Matthew Demars</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl7828112" width="104" style="width:78pt">708-4839</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6628112" width="163" style="width:122pt">Verna Hansen<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl7828112" width="104" style="width:78pt">753-6216</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6628112" width="163" style="width:122pt">Jason Eddy</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl7828112" width="104" style="width:78pt">753-6226</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">HIGHWAY SUPERINTENDENT</td>
  <td class="xl6628112" width="163" style="width:122pt">B<font class="font528112">ob
  Russell<span style="mso-spacerun:yes"> </span></font></td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">753-4220</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8128112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">ASSESSOR</td>
  <td class="xl6628112" width="163" style="width:122pt">Mike Baker</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">753-7419</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6728112" width="163" style="width:122pt">OFFICE HOURS<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="38" style="mso-height-source:userset;height:28.8pt">
  <td height="38" class="xl7328112" style="height:28.8pt">&nbsp;</td>
  <td class="xl9728112" style="width:304px" colspan="2">Monday, Tuesday, Wednesday,
  9am to 1 pm</td>
  <td class="xl8228112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6528112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6528112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7728112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">TOWN JUSTICE</td>
  <td class="xl6628112" width="163" style="width:122pt">Paul MacNaughton</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl7828112" width="104" style="width:78pt">663-5730</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">COURT CLERK</td>
  <td class="xl6628112" width="163" style="width:122pt">Colleen Allsop<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8428112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7428112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6828112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl6928112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8428112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">TOWN JUSTICE</td>
  <td class="xl6628112" width="163" style="width:122pt">Kenneth Marbot</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8428112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">COURT CLERK</td>
  <td class="xl6628112" width="163" style="width:122pt">Colleen Allsop<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl8028112" width="104" style="width:78pt">753-4222</td>
 </tr>
 <tr height="46" style="mso-height-source:userset;height:34.2pt">
  <td height="46" class="xl7528112" style="height:34.2pt">&nbsp;</td>
  <td colspan="2" class="xl7128112" width="304" style="width:228pt">Court is held
  every Wednesday starting at 6:30PM</td>
  <td class="xl8528112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">TAX COLLECTOR</td>
  <td class="xl6628112" width="163" style="width:122pt">Susan Craver</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl8028112" width="104" style="width:78pt">753-483<font class="font528112">6</font></td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7528112" style="height:18.0pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7728112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl7828112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">TOWN ATTORNEY</td>
  <td class="xl6628112" width="163" style="width:122pt">S<font class="font628112">tacey
  Goldstein</font></td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">753-4222</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7528112" style="height:18.0pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8728112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8428112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">DOG CONTROL OFFICER</td>
  <td class="xl6928112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7728112" width="58" style="width:43pt">Cell</td>
  <td class="xl7828112" width="104" style="width:78pt">727-9863</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8728112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8428112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">Code Enforcement Officer</td>
  <td class="xl6628112" width="163" style="width:122pt">Hal Wiley<span style="mso-spacerun:yes"> </span></td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Cell</td>
  <td class="xl7828112" width="104" style="width:78pt">727-2174</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7528112" style="height:18.0pt">&nbsp;</td>
  <td class="xl6728112" width="163" style="width:122pt">OFFICE HOURS<span style="mso-spacerun:yes"> </span></td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">753-4222</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td colspan="2" class="xl9728112" width="304" style="width:228pt">Monday -
  Wednesday 8AM - 11AM</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td colspan="2" class="xl9728112" width="304" style="width:228pt">and by
  appointment</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">PLANNING BOARD CHAIRMAN</td>
  <td class="xl6628112" width="163" style="width:122pt">Timothy Donlon</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">469-7469</td>
 </tr>
 <tr height="59" style="mso-height-source:userset;height:44.4pt">
  <td height="59" class="xl7528112" style="height:44.4pt">&nbsp;</td>
  <td colspan="2" class="xl7128112" width="304" style="width:228pt">Planning Board
  meets the first Thursday of the month at 7:30pm at the Town Hall</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">ZONING BOARD CHAIRMAN</td>
  <td class="xl6628112" width="163" style="width:122pt">David Schmidt</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Cell</td>
  <td class="xl7828112" width="104" style="width:78pt">237-8327</td>
 </tr>
 <tr height="60" style="mso-height-source:userset;height:45.0pt">
  <td height="60" class="xl7528112" style="height:45.0pt">&nbsp;</td>
  <td colspan="2" class="xl7128112" width="304" style="width:228pt">Zoning Board
  meets upon variances or when necessary at the Town Hall</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">HISTORIAN</td>
  <td class="xl6628112" width="163" style="width:122pt">Paul Wiley</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Home</td>
  <td class="xl7828112" width="104" style="width:78pt">753-4854</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">GARBAGE COLLECTION</td>
  <td class="xl6628112" width="163" style="width:122pt">County Waste</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">877-7007</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8328112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="24" style="height:18.0pt">
  <td height="24" class="xl7328112" style="height:18.0pt">BOOKKEEPER</td>
  <td class="xl6628112" width="163" style="width:122pt">Maureen Seel</td>
  <td class="xl6628112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl7928112" width="58" style="width:43pt">Office</td>
  <td class="xl7828112" width="104" style="width:78pt">753-4222</td>
 </tr>
 <tr height="19" style="height:14.4pt">
  <td height="19" class="xl7528112" style="height:14.4pt">&nbsp;</td>
  <td class="xl7028112" width="163" style="width:122pt">&nbsp;</td>
  <td class="xl7028112" width="141" style="width:106pt">&nbsp;</td>
  <td class="xl8828112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl8628112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <tr height="42" style="mso-height-source:userset;height:31.2pt">
  <td height="42" class="xl7628112" style="height:31.2pt">&nbsp;</td>
  <td colspan="2" class="xl7228112" width="304" style="width:228pt">The Town Board
  meetings are held the second Monday of the month at 7:00 p.m.</td>
  <td class="xl8928112" width="58" style="width:43pt">&nbsp;</td>
  <td class="xl9028112" width="104" style="width:78pt">&nbsp;</td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height="0" style="display:none">
  <td width="247" style="width:185pt"></td>
  <td width="163" style="width:122pt"></td>
  <td width="141" style="width:106pt"></td>
  <td width="58" style="width:43pt"></td>
  <td width="104" style="width:78pt"></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--END OF OUTPUT FROM EXCEL PUBLISH AS WEB PAGE WIZARD-->
<!----------------------------->
</body>

</html>
